[submodule "external/hlsdk"]
	path = external/hlsdk
	url = https://github.com/alliedmodders/hlsdk.git
[submodule "external/vcpkg"]
	path = external/vcpkg
	url = https://github.com/microsoft/vcpkg.git
